build/
build-win/
build-win-native/
build-flatpak/
flatpak-repo/
.flatpak-builder/
*.flatpak
AppDir/
*.AppImage
linuxdeploy*.AppImage*
dist/
dist-windows/
dist-linux/
*.tar.gz
*.zip
*.o
*.obj
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json
.vs/
.vscode/
*.user
